
@media (max-width: 1330px ) {
    .G-information_header{
        font-size: 2.3rem;
        line-height: 2;
    }
}

@media (max-width: 1024px ) {
    .G-information_header{
        font-size: 1.8rem;
        line-height: 1.5;
    }
}
@media screen and (max-width: 768px) {
    .hero .text h1 {
        font-size: 20px;
    }

    .video_iframe {

        height: 500px
    }

    .tolate {
        font-size: 29px;
        line-height: 1;
    }

    .navbar.main-navbar {
        background: #00000069;
    }
}

