==
<section class="row minimo" style="background: #0cb3f8">
    <div class="container-fluid  social text-right">
        <div class="">
            <div class="row">
                <div class="col-md-8 col-md-offset-2" style="color: #fff;">
                    <h1>Fast <small>and</small> Robust <small>development.</small></h1>
                    <h2>
                        <small> I have always prefered  to keep my applications simple , beautiful and easy to work in for the end user.                        
                                I am always trying to design  the most user friendly solution for my costumers and 
                                I will always have this in mind when I start a new project.
                        </small>                        
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>